{% extends 'index.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/filter_emp" method="post">
        {% csrf_token %}
  <label for="name">NAME</label>
  <input type="name" id="name" name="name" value="{{ name }}"><br>
  <label for="age">AGE</label>
  <input type="number" id="age" name="age" value="{{ age }}"><br>

 
  

    <button type="submit">submit</button>

</form>




</body>
</html>

{% endblock %}