{% extends "index.html" %}
{% block body %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        {% for emp in emps %}
        <tbody>
          <tr>
            <th scope="row">{{emp.id}}</th>
            <td>{{emp.name}}</td>
            <td>{{emp.location}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.date}}</td>
          </tr>
       
        </tbody>
        {% endfor %}
      </table>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% endblock body %}
  </body>
</html>
